@charset "UTF-8";


/*! 샘플주석 : sample-less */
.sample,.sample-less{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;zoom:1}
.sample-less{display:block;color:red}

/*! 샘플주석 : sample-scss */
.sample{width:100px;height:100px}
.sample,.sample-scss{display:block;overflow:hidden;color:red}
